@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Set the dark background for the whole app */
body {
  background-color: #030712;
  /* gray-950 */
  color: white;
}

/* Custom scrollbar styling for a sleek dark look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}